set default=0
set timeout=5

if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=auto
    insmod all_video
    insmod gfxterm
    terminal_output gfxterm
fi

menuentry 'OperaLinux @VERSION@ "@CODENAME@" (linux-zen, OpenRC)' {
    search --no-floppy --set=root --label @ISO_LABEL@
    linux /boot/vmlinuz-linux-zen archisobasedir=operalinux archisolabel=@ISO_LABEL@ cow_spacesize=4G init=/sbin/openrc-init
    initrd /boot/intel-ucode.img /boot/amd-ucode.img /boot/initramfs-linux-zen-live.img
}

menuentry 'OperaLinux @VERSION@ fallback graphics' {
    search --no-floppy --set=root --label @ISO_LABEL@
    linux /boot/vmlinuz-linux-zen archisobasedir=operalinux archisolabel=@ISO_LABEL@ cow_spacesize=4G nomodeset init=/sbin/openrc-init
    initrd /boot/intel-ucode.img /boot/amd-ucode.img /boot/initramfs-linux-zen-live.img
}
